/* +------------------------------------------------+ */
/* |                   UI ━ K I T                   | */
/* +------------------------------------------------+ */
/* | This is my first kit ;)                        | */
/* | ...........................✧ Be nice ✧ By Nekå | */
/* +------------------------------------------------+ */


/* +----------------------+ */
/* | ........BASE........ | */
/* +----------------------+ */

* {
  margin: 0;
  padding: 0;
}

body {
  font-weight: normal;
  font-style: normal;
  color: black;
}



/* +----------------------+ */
/* | .......COLORS....... | */
/* +----------------------+ */

.primary {
  background-color: #A0C4FF;
}

.text-primary {
  color: #ffffff;
}

.dark {
  background-color: #0b0b0b;
}

.text-dark {
  color: #ffffff;
}

.medium-light {
  background-color: #333333;
}

.text-medium-light {
  color: #333333;
}

.light {
  background-color: #dadada;
}

.text-light {
  color: #0b0b0b;
}

.warning {
  background-color: #FDFFB6;
}

.text-warning {
  color: #0b0b0b;
}

.danger {
  background-color: #FFADAD;
}

.text-danger {
  color: #ffffff;
}

.success {
  background-color: #CAFFBF;
}

.text-success {
  color: #000000;
}

.info {
  background-color: #9BF6FF;
}

.text-info {
  color: #ffffff;
}

/* +----------------------+ */
/* | ........TYPO........ | */
/* +----------------------+ */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Akaya Kanadaka", sans-serif;
  src: url();
}

p,
lead,
blockquote,
ul,
li,
ol {
  font-family: "Raleway", sans-serif;
  src: url();
}

/* +----------------------+ */
/* | ......BUTTONS....... | */
/* +----------------------+ */

/* Standard */
.btn {
color: #494949 !important;
text-decoration: none;
background: #ffffff;
padding: 20px;
border: 2px solid #dadada !important;
display: inline-block;
transition: all 0.4s ease 0s;
}

.btn:hover {
color: #ffffff !important;
background: #A0C4FF;
border-color: #dadada !important;
transition: all 0.4s ease 0s;
}

/* Specific */
.btn-primary {}
.btn-primary:hover {}

.btn-warning {}
.btn-warning:hover {}

.btn-danger {}
.btn-danger:hover {}

.btn-info {}
.btn-info:hover {}

.btn-sucess {}
.btn-sucess:hover {}

/* Outines btn */
.btn-outline-primary {}
.btn-outline-primary:hover {}

.btn-outline-warning {}
.btn-outline-warning:hover {}

.btn-outline-danger {}
.btn-outline-danger:hover {}

.btn-outline-info {}
.btn-outline-info:hover {}

.btn-outline-sucess {}
.btn-outline-sucess:hover {}
